
/*===base element===*/
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.container{
    width: 100vw;
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;

}

/*===navbar===*/
.navbar{
    margin: 20px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.bar{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
    -10px -10px 20px #ffffff;
    overflow: hidden;
}

.bar-items{
    display: grid;
    place-items: center center;
    width: 100px;
}
.bar-items:hover{
    background: #d5d5d5;
}

.bar-items:active{
    background: #e0e0e0;
    box-shadow: inset 10px 10px 20px #bebebe,
    inset -10px -10px 20px #ffffff;
}

.github{
    display: grid;
    grid-column-start: -1;
    place-items: center center;
    overflow: hidden;
    width: 100px;
    background: black;
}
.github img{
    height: 45px;
    width: 45px;
}

.head_ico{
    display: grid;
    place-items: center center;
    overflow: hidden;
    margin-left: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow:  10px 10px 20px #bebebe,
    -10px -10px 20px #ffffff;
}
.head_ico img{
    height: 50px;
    width: 50px;
}
/*===blog content body*/

.content{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.content-sidebar{
    width: 100%;
    height: 100%;
    margin: 5px;

    display: flex;
    flex-direction: column;

    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
    -10px -10px 20px #ffffff;
    overflow: hidden;
}

.content-sidebar-items{
    height: 80px;
    display: grid;
    place-items: center center;
    width: 100%;

}
.content-sidebar-items:hover{
    background: #d5d5d5;
}

.content-sidebar-items:active{
    background: #e0e0e0;
    box-shadow: inset 10px 10px 20px #bebebe,
    inset -10px -10px 20px #ffffff;
}

.content-blogs{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-blogs-items{
    margin: 0 40px 40px;
    width: calc(100% - 80px);
    height: 15%;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #adadad,
    -10px -10px 20px #ffffff;
    overflow: hidden;
}

.content-blogs-items:hover{
    background: #d5d5d5;
}

.content-blogs-items:active{
    background: #e0e0e0;
    box-shadow: inset 10px 10px 20px #adadad,
    inset -10px -10px 20px #ffffff;
}
.items-header{
    margin: 20px;
    font-size: 20px;
}
.items-body{
    margin: 20px;
}

/*===footer===*/
.footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background: rgba(37, 37, 37, 0.87);
}

.beian{
    color: white;
    grid-column-start: 2;
    grid-row: 2;
}

.beian a{
    color: white;
}

/*===media selector===*/

/*desktop*/
@media screen and (min-width: 728px){

}
/*tablet*/
@media screen and (max-width: 728px){

    .content{
        display: flex;
        flex-direction: column;

    }

    .content-sidebar{
        margin: 0px;
        width: 100%;
        height: 100px;

    }

    .content-blogs{
        width: 100%;
        margin: 0px;

    }

    .content-blogs-items{
        width: 100%;
        height: 150px;
        margin: 20px 0px 0px;
    }

}
